*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --dark-color:#1f2937;
    --hero-main:#f9faf8;
    --hero-secondary:#e5e7eb;
    --button-color:#3882f6;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main {
    background-color: var(--dark-color);
    padding-bottom: 20px;
}
.container {
    margin: 0 11%;
}

nav {
    padding: 20px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h3 {
    color: var(--hero-main);
    font-weight: 900;
    font-size: 24pxm;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--hero-secondary);
    font-size: 18px;
}

.hero {
    margin: 60px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .text-side h1 {
    color:var(--hero-main);
    font-weight: 900;
    font-size: 48px;
}
p { 
    font-size: 18px;
}
.hero .text-side p {
    width: 480px;
    color: var(--hero-secondary);
    margin: 20px 0;
}

button {
    background-color: var(--button-color);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: var(--hero-main);
    font-weight: 900;
    font-size: 18px;
}

.hero .img-side img {
    max-width: 700px;
}

.info {
    margin: 60px 0 70px;
    text-align: center;
    padding-bottom: 10px;
}

.info h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 50px;
}

.boxs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.boxs .box {
    width: 170px;
    color: #696969;
}
.box img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border:var(--button-color) 3px solid;
    margin-bottom: 10px;
    border-radius: 10px;
}

.quote {
    padding: 100px;
    background-color: var(--hero-secondary);
}

.quote p {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    text-align: center;
}
.quote .container span {
    display: block;
    text-align: right;
    font-size: 24px;
}

.call {
    padding: 40px 0;
}

.call-box {
    border-radius: 30px;
    background-color: var(--button-color);
    color: var(--hero-main);
    padding: 60px 120px;
    width: 1000px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.call-box button {
    border: 1px solid white;
}